* {
  margin: 0;
  padding: 0;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-2: hsl(215, 27%, 12%);
  --icon-background: hsla(214, 15%, 22%, 0.651);
  --very-dark-blue: hsl(216, 12%, 8%);
  --main-background: radial-gradient(
    circle at top,
    var(--dark-blue),
    var(--dark-blue-2)
  );
}

html {
  background-color: var(--very-dark-blue);
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

main {
  height: 30rem;
  width: 30rem;
  background: var(--main-background);
  border-radius: 2rem;
}

@media (max-width: 500px) {
  html{
    font-size: 12px;
  }
}

.invisible {
  transition-duration: 0.5s;
  display: none !important;
}

.main {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.star-icon {
  background: var(--icon-background);
  width: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
}

.text {
  color: white;
}

.text p {
  padding: 1rem 0 0 0;
  color: var(--medium-grey);
}

.rating {
  display: flex;
  justify-content: space-around;
}

.number {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: var(--icon-background);
  color: var(--medium-grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.number:not(.onClick):hover {
  color: var(--white);
  font-weight: 600;
  background: var(--medium-grey);
  transition-duration: 0.5s;
}

.onClick {
  background: var(--orange);
  color: var(--white);
  font-weight: 600;
  transition-duration: 0.5s;
}

.btn {
  text-align: center;
}

.submit {
  width: 90%;
  height: 3.5rem;
  border: none;
  border-radius: 5vh;
  background: var(--orange);
  color: var(--white);
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 600;
  transition-duration: 0.5s;
}

.submit:hover {
  transition-duration: 0.5s;
  background-color: white;
  color: var(--orange);
}

.warning {
  transition-duration: 0.5s;
  margin: 10px auto;
  padding: 3px 20px;
  width: fit-content;
  display: inline;
  color: var(--orange);
  background-color: var(--icon-background);
  border-radius: 5px;
}

.thank-you {
  text-align: center;
  padding: 4rem 3rem;
}

@media(max-width : 500px){
  .thank-you {
    padding: 2rem;
  }
}

.review-score {
  margin: 2rem auto;
  padding: 3px 20px;
  width: fit-content;
  color: var(--orange);
  background-color: var(--icon-background);
  border-radius: 5px;
}

.thank-you h1 {
  color: var(--white);
  margin: 1rem 0 2rem 0;
}

.thank-you > p {
  color: var(--light-grey);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
  z-index: -1;
  color: var(--light-grey);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-25 10:17:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
